@model Exam

<form asp-area="Teacher" asp-action="TeacherExamAdd" asp-controller="Exam" method="post">
    <div class="form-group">
        <label asp-for="Name">Sınav Başlığı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div id="questionsContainer">
        <div class="row">
            <div class="col-md-4">
                <div class="question">
                    <label class="mt-2">Soru 1</label>
                    <input type="text" name="Questions[0].Text" class="form-control" />

                    <div class="form-control mt-2">
                        <label>Doğru Cevabı Giriniz</label>
                        <input type="text" name="Questions[0].CorrectAnswer" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="question">
                    <label class="mt-2">Soru 2</label>
                    <input type="text" name="Questions[1].Text" class="form-control" />

                    <div class="form-control mt-2">
                        <label>Doğru Cevabı Giriniz</label>
                        <input type="text" name="Questions[1].CorrectAnswer" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="question">
                    <label class="mt-2">Soru 3</label>
                    <input type="text" name="Questions[2].Text" class="form-control" />

                    <div class="form-control mt-2">
                        <label>Doğru Cevabı Giriniz</label>
                        <input type="text" name="Questions[2].CorrectAnswer" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Sınavı Ekle</button>
</form>