@model List<StudentResultViewModel>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Öğrenci /</span> Öğrenci İşlemleri</h4>

    <div class="card">
        <div class="table-responsive text-nowrap m-3">
            <table class="table table-bordered" id="userTable" width="100%" collspacing="0">
                <thead>
                    <tr>
                        <th>Öğrenci Adı Soyadı</th>
                        <th>Sınav</th>
                        <th>Sonuç</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StudentName</td>
                            <td>@item.ExamName</td>
                            <td>@item.Score</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/userList.js" type="application/ecmascript"></script>
}