<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Erişim Hatası</h1>
            <p class="lead">Bu sayfaya erişiminiz bulunmamaktadır.</p>
        </div>
    </div>
</body>
</html>
